#!/usr/bin/env python
# -*-coding:utf-8-*-
import logging
rabbitmq = {
    "host":'localhost',
    "port":'5672',
    "user_name":"rabbitmq",
    "password":"rabbitmq"
}

log_conf = {
        'when': 'midnight',
        'backupCount': 30,
        'format': '[%(asctime)s][tid:%(thread)d][%(filename)s:%(lineno)d] %(levelname)s: %(message)s',
        'logger': logging.getLogger(),
    }