<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connectionstring" value="User Source=.;Password=;Initial Catalog=test;Provider=SQLOLEDB.1;" />
    <add key="TemplatePATH" value="Template" />
  </appSettings>
</configuration>